.loginpage {
	background-image: url("../../assets/blue.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
    }

    a:link {
        text-decoration: none;
       
      } 
    
    .login{
        display: flex;
        flex-direction: column;
        background-color: rgba(82, 173, 209, 0.404);
        border-radius: 20px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        height: 500px;
    }

    .loginpage h1{ 
        font-family: 'Yeseva One', sans-serif ;
        text-decoration: none;
        font-weight: bold;
        font-size: 80px;
        color: rgb(25, 73, 136);
    
    }
    
    .loginpage h3 {
        color: rgba(6, 5, 5, 0.749);
        font-size: 45px;
        font-weight: bold;
    }
    
    .loginpage input {
        color: rgb(130, 121, 112);
        font-weight: 200;
        padding: 10px;
        margin: 9px;
        border: rgb(66, 105, 157) solid 2px;
        width: 200px;
    }
    
    .loginpage button {
        font-size: 20px;
        background-color: transparent;
        border: rgba(21, 20, 20, 0.338) solid 1px;
        margin-bottom: 50px;
        padding: 5px;
    }


    @media (min-width: 720px) {
        .loginpage {
            display:flex;
            flex-direction: row-reverse;
     
        }

        
        .login{
            display: block;
            padding: 150px;
  
        }

        /* .flower {
            background-image: url(../../assets/flower.jpeg);
            background-position: left;
            background-repeat: no-repeat;
            background-clip: initial;
            width: 400px;
            border: 1px solid black;
            background-size: cover !important;

        } */

       
    }

