.registerpage {
background-image: url('../../assets/flower.jpeg');
background-position: left;
background-size: cover;
display: flex;
justify-content: center;
background-color: rgb(210, 210, 180);
padding: 20px;
min-height: 100vh;
}
.registerpage html {
    align-items: center;
}

a:link {
    text-decoration: none;
   
  } 

.register{
    display: flex;
    flex-direction: column;
    background-color: rgba(186, 107, 47, 0.571);
    border-radius: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.registerpage h1{ 
    font-family: 'Yeseva One', sans-serif ;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    color: rgb(66, 105, 157);

}

.registerpage h3 {
    color: rgba(6, 5, 5, 0.749);
    font-size: 30px;
    font-weight: bold;
}

.registerpage input {
    color:rgb(130, 121, 112);
    font-weight: 200;
    padding: 8px;
    margin: 8px;
    border:rgb(66, 105, 157) solid 2px;
}

.registerpage button {
    font-size: 10px;
    background-color: transparent;
    border: rgba(21, 20, 20, 0.338) solid 1px;
    margin-bottom: 8px;
    padding: 5px;
}